.register-container {
  max-width: 600px;
  max-height: auto;
  margin: 220px auto;
  padding: 70px 150px;
  background-color: var(--color-card);
  color: var(--color-text-primary);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.error {
  color: #d32f2f;
  font-size: 0.8rem;
}
